
/* Your CSS Code here. */
nav{
	background-color: navy;
	padding: 5px 10px;
}
nav a{
	text-decoration: none;
	color: white;
	margin-right: 10px;
}
li{
	list-style-type: none;
	position: relative;
}
.first{
	position: absolute;
	top: 10px;
	left: -50px;
}
.second{
	position: absolute;
	left: 175px;
	top: 10px;
}
.third{
	position: absolute;
	left: 400px;
	top: 10px;
}